html
   head
      title= "ISTAM - RK jr."

      link(href="/css/css.css", rel="stylesheet", type="text/css")

   body
      block content

   script(src='/socket.io/socket.io.js')
   script(src="/js/vendor/zepto.js")
   script(src="/js/js.js")

