html
   head
      title= "ISTAM - RK jr."

      link(href="/css/css.css", rel="stylesheet", type="text/css")

   body
      block content

   script(src='/socket.io/socket.io.js')
   script(src="https://code.jquery.com/jquery-2.2.2.min.js", integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=", crossorigin="anonymous")
   script(src="/js/js.js")

