//- index.jade
extends ./layouts/default.jade

block content
    h1 &lt;ISTAM&gt;
        span == RK ml. ==

    #add-name
        input(type="text" name="name" placeholder="Zadejte sve jmeno" maxlength="20")
        br
        button Potvrd

    #join
        button Pridej se do hry
        br
        br
        br
        ul#menu
            li.set-name &#128588;
                span  Change name
            li.help &#127922;
                span  Help

    #wait
        div Zoznam hracov v hre

    #play
        //.score-board Score board
        .card-current Current card
        .card-own Own Card


    #end-game
        h2 Konec hry
        h3 Výsledky

        .score-board
        br
        br
        button.play-again Hrat znovu
