//- index.jade
extends ./layouts/default.jade

block content
    h1 ISTAM (RK jr.)
    #add-name
        div Zadejte sve jmeno
        input(type="text" name="name")
        br
        button Potvrd

    #join
        button Pridej se do hry

    #wait
        div Zoznam hracov v hre

    #play
        div Playing
        .score-board Score board
        .card-current Current card
        .card-own Own Card


    #end-game
        div Konec hry

        .score-board
        button.play-again Hrat znovu
