//- index.jade
extends ./layouts/default.jade

block content
    #add-name
        input(type="text" name="name")
        button Potvrd

    #join
        button Pridej se do hry

    #wait
        div Zoznam hracov v hre

    #play
        div Playing
        .card-current Current card

        .card-own Own Card

        .card-others Others cards

    #end-game
        div Konec hry
